*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.bold{
    font-weight: bold;
}

.navbar{
    display: flex;
    background-color: black;
    width: 80%;
    max-width: 1200px;
    height: 129px;
    border-radius: 0px 0px 40px 40px;
    margin-left: 10%;
    align-items: center;
}

.navbar > *{
    margin: 40px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar > *:hover{
    font-weight: bold;
}









.home-cont{
    display: flex;
    flex-direction: column;
}

.home--top{
    display: flex;
}

.home--left{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blanchedalmond; */
    padding: 40px;
}

.home--left > p{
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 1.2rem;
}

.pie-chart-cont{
    /* background-color: aqua; */
    width: 451px;
    height: 451px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.piechart--center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.piechart--centerperc{
    font-size: 300%;
}

.piechart--chart text{
    font-size: 0.5rem;
    /* background-color: blueviolet; */
    z-index: 1;
}




.home--bottom{
    /* background-color: blueviolet; */
    padding: 40px 0px 30px 80px;

}

.home--bottom > ul > li{
    margin-bottom: 10px;
    font-size: 1.2rem;
}





.load-courses-cont{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}

.load-courses-cont > input{
    width: 250px;
    height: 20px;
    padding-left: 5px;
}

.load-courses-cont > *{
    margin-bottom: 20px;
}
